<md-dialog style="min-width: 600px;">
  <div>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> Create a new party</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="min-width:300px;max-width:800px;max-height:810px; ">
      <div ng-show="addNewPartyModal.isLoggedIn">
        <md-input-container>
          <label>Name</label>
          <input ng-model="addNewPartyModal.newParty.name" id="nameInput" type="text" aria-label="Name">
        </md-input-container>
        <md-input-container>
          <label>Description</label>
          <input ng-model="addNewPartyModal.newParty.description" id="description" type="text" aria-label="Description">
        </md-input-container>
        <md-whiteframe class="md-whiteframe-z1" layout="column">
          <div layout="row" class="images-container-title">
            <div flex>
              <h3>Add photos to your party!</h3>
                <div ng-hide="addNewPartyModal.cropImgSrc" ngf-drop ngf-select
                     ngf-change="addNewPartyModal.addImages($files)"
                     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                     ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
                     ngf-drop-available="true">
                  <div>Click here to select image</div>
                  <div>
                    <strong>OR</strong>
                  </div>
                  You can also drop image to here
                </div>
              <div ng-show="addNewPartyModal.cropImgSrc" class="ng-crop-container">
                <h3>Great! Now edit & crop your image...</h3>
                <md-button ng-click="addNewPartyModal.saveCroppedImage()" ng-disabled="!addNewPartyModal.cropImgSrc" class="md-primary">
                  Save Image
                </md-button>
                <img-crop image="addNewPartyModal.cropImgSrc" result-image="addNewPartyModal.myCroppedImage" area-type="square"></img-crop>
              </div>
            </div>
          </div>
          <br />
          <div layout="row" class="images-container-title" sv-root sv-part="addNewPartyModal.newParty.images">
            <div sv-element class="party-image-container" ng-repeat="image in addNewPartyModal.newParty.images">
              <div class="main-image" ng-show="$index === 0">Main Image</div>
              <img draggable="false" ng-src="{{ image.url({store: 'thumbnail'}) }}"/><br/>
              <a href="#" editable-text="image.metadata.description"
                 onbeforesave="addNewPartyModal.updateDescription($data, image)">{{ image.metadata.description || 'Click to add description' }}</a>
            </div>
          </div>
        </md-whiteframe>
        <md-checkbox ng-model="addNewPartyModal.newParty.public" id="public" aria-label="Public">
          Public
        </md-checkbox>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="addNewPartyModal.close()">
        Close
      </md-button>
      <md-button ng-click="addNewPartyModal.addNewParty()" style="margin-right:20px;">
        Add
      </md-button>
    </div>
  </div>
</md-dialog>