<div *ngIf="party" layout="column" layout-padding>
  <div layout="column" layout-gt-sm="row"  layout-padding>
    <form flex="50" layout="column">
      <md-input [(ngModel)]="party.name" [disabled]="!isOwner" placeholder="Party name"></md-input>

      <md-input [(ngModel)]="party.description" [disabled]="!isOwner" placeholder="Description"></md-input>

      <div>
        <md-checkbox [checked]="party.public">
          Public Party?
        </md-checkbox>
      </div>

      <div>
        <md-button md-raised-button color="primary" (click)="save()">Save</md-button>
      </div>
    </form>
    <party-map flex="50" [location]="party.location"></party-map>
  </div>

  <party-uninvited flex [party]="party" *ngIf="canInvite()"></party-uninvited>
</div>
