html, body {
}

.like-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}

@import "../parties/styles/parties.import.less";
@import "../parties/styles/party.details.import.less";
@import "../parties/styles/navbar.import.less";
