<md-dialog class="add-photo-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Photo To Your Event</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>
        <div ngf-drop ngf-select
             ngf-change="addImages($files)"
             ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
             ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
             ngf-drop-available="dropAvailable">
          <div>Click here to select image</div>
          <div>
            <strong>OR</strong>
          </div>
          <div ng-show="dropAvailable">You can also drop image to here</div>
        </div>
        <div>
          <img ng-if="uploadedImage.isUploaded()" ng-src="{{ uploadedImage.url() }}">
          <div class="uploaded-image" ng-if="uploadedImage && !uploadedImage.isUploaded()">Uploading...</div>
        </div>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="answer(true)" class="md-primary">
        Add Image
      </md-button>
      <md-button ng-click="answer()" class="md-warn">
        Cancel
      </md-button>
    </div>
  </form>
</md-dialog>