<md-content layout="row">
  <span flex></span>
  <md-whiteframe layout="column" flex="50">
    <div layout="row" layout-align="space-around center">
      <div>Login with:</div>
      <md-button>Twitter</md-button>
      <md-button>Facebook</md-button>
    </div>
    <div ng-show="rpc.error" class="md-warn">
      <small>{{ rpc.error }}</small>
    </div>
    <form layout="column">
      <md-input-container>
        <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
        <input type="text" ng-model="rpc.credentials.email"
               placeholder="email" aria-label="email"/>
      </md-input-container>
      <md-button class="md-raised md-primary"
                 ng-click="rpc.reset()" aria-label="login">Reset password
      </md-button>
    </form>
    <div layout="row" layout-align="end center">
      <a href="/login">Login</a>
    </div>
  </md-whiteframe>
  <span flex></span>
</md-content>