<div layout="row" flex class="ma-party-details">
  <div flex="33" offset="33">
    <legend style="margin:20px 0;">
      Here you will see and change the details of the party:
    </legend>
    <form layout="column">
      <md-input-container>
        <label>Party Name</label>
        <input ng-model="partyDetails.party.name" ng-disabled="partyDetails.party.owner != partyDetails.currentUserId" type="text" aria-label="Name">
      </md-input-container>
      <md-input-container>
        <label>Party Description</label>
        <input ng-model="partyDetails.party.description" ng-disabled="partyDetails.party.owner != partyDetails.currentUserId" type="text" aria-label="Description">
      </md-input-container>
      <md-checkbox ng-model="partyDetails.party.public" ng-disabled="partyDetails.party.owner != partyDetails.currentUserId" aria-label="Public">
        Is public
      </md-checkbox>

      <div layout="row" layout-align="left">
        <md-button ng-show="partyDetails.party.owner == partyDetails.currentUserId" ng-click="partyDetails.save()">Save</md-button>
        <md-button ng-href="/parties">Back</md-button>
      </div>

      <md-list ng-show="partyDetails.canInvite()">
        <md-subheader class="md-no-sticky">Users to invite:</md-subheader>
        <md-list-item ng-repeat="user in partyDetails.users | uninvited:partyDetails.party">
          <div>{{ user | displayName }}</div>
          <md-button ng-click="partyDetails.invite(user)">Invite</md-button>
        </md-list-item>
        <md-list-item ng-if="(partyDetails.users | uninvited:partyDetails.party).length <= 0">
          Everyone are already invited.
        </md-list-item>
      </md-list>

      <div class="angular-google-map-container">
        <ui-gmap-google-map center="partyDetails.party.location || partyDetails.map.center"
                            events="partyDetails.map.events" zoom="partyDetails.map.zoom">
          <ui-gmap-marker coords="partyDetails.party.location" options="partyDetails.map.marker.options"
                          events="partyDetails.map.marker.events" idkey="partyDetails.party._id">
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </form>
  </div>
</div>