The party your selected is:
<form>
  Party name: <input type="text" ng-model="partyDetails.party.name" ng-disabled="!partyDetails.isLoggedIn" />
  Description: <input type="text" ng-model="partyDetails.party.description" ng-disabled="!partyDetails.isLoggedIn" />
  Public Party? <input type="checkbox" ng-model="partyDetails.party.public" ng-disabled="!partyDetails.isLoggedIn" />
  <button ng-click="partyDetails.save()">Save</button>
</form>
<button ui-sref="parties">Back</button>

<ul ng-show="partyDetails.canInvite()">
  Users to invite:
  <li ng-repeat="user in partyDetails.users | uninvited:partyDetails.party">
    <div>{{ user | displayName }}</div>
    <button ng-click="partyDetails.invite(user)">Invite</button>
  </li>
  <li ng-if="(partyDetails.users | uninvited:partyDetails.party).length <= 0">
    Everyone are already invited.
  </li>
</ul>