<div layout="column">
  <div ngf-drop
    ngf-select
    ngf-change="partyUpload.addImages($files)"
    ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
    class="drop-box"
    ngf-multiple="false"
    ngf-allow-dir="false"
    ngf-accept="'image/*'"
    ngf-drop-available="true"
    ng-hide="partyUpload.cropImgSrc">
    <div>Click here to select image</div>
    <div>
      <strong>OR</strong>
    </div>
    <div>You can also drop image to here</div>
  </div>
  <div ng-show="partyUpload.cropImgSrc" layout="column" class="ng-crop">
    <div>
      <h3>Edit &amp; crop</h3>
      <md-button ng-click="partyUpload.save()" class="md-primary">
        Save Image
      </md-button>
      <md-button ng-click="partyUpload.reset()">
        Cancel
      </md-button>
    </div>
    <div class="ng-crop-container">
      <img-crop image="partyUpload.cropImgSrc" result-image="partyUpload.myCroppedImage" area-type="square"></img-crop>
    </div>
  </div>
  <div layout="row" class="images-container-title" sv-root sv-part="partyUpload.thumbs">
    <div sv-element class="party-image-container" ng-class="{'main-image': $index === 0}" ng-repeat="thumb in partyUpload.thumbs">
      <img draggable="false" ng-src="{{ thumb.url }}"/>
    </div>
  </div>
</div>
