party-upload {
  .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .drop-box.dragover {
    border: 5px dashed blue;
  }
  .drop-box.dragover-err {
    border: 5px dashed red;
  }
}
