<md-content layout="row" layout-align="center start" layout-fill layout-margin>
  <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
    <!-- header -->
    <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
      <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
        <h3 class="md-display-1">
          Login with SMS
        </h3>
      </div>
    </md-toolbar>

    <!-- content -->
    <div layout="column" layout-fill layout-margin layout-padding>
      <!-- step 1: phone verification -->
      <form ng-show="!login.isStepTwo" layout="column" layout-fill layout-padding layout-margin>
        <md-input-container>
          <input type="text" ng-model="login.phoneNumber" placeholder="phone"/>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="login.verifyPhone()" aria-label="login" ng-disabled="!login.phoneNumber">Send SMS
        </md-button>
      </form>
      <!-- step 2: code verification -->
      <form ng-show="login.isStepTwo" layout="column" layout-fill layout-padding layout-margin>
        <md-input-container>
          <input type="text" ng-model="login.verificationCode" placeholder="code"/>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="login.verifyCode()" aria-label="login" ng-disabled="!login.verificationCode">Verify Code
        </md-button>
      </form>

      <!-- display an error -->
      <md-toolbar ng-show="login.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">{{ login.error }}</p>
      </md-toolbar>

      <md-divider></md-divider>

      <!-- other actions -->
      <div layout="row" layout-align="center">
        <a class="md-button" href="/password">Forgot password?</a>
      </div>
    </div>
  </md-whiteframe>
</md-content>
