<party-add></party-add>

<input type="search" ng-model="partiesList.searchText" placeholder="Search" />

<parties-sort on-change="partiesList.sortChanged(sort)" property="name" order="1"></parties-sort>

<ul>
  <li dir-paginate="party in partiesList.parties | itemsPerPage: partiesList.perPage" total-items="partiesList.partiesCount">
    <a ui-sref="partyDetails({ partyId: party._id })">
      {{party.name}}
    </a>
    <p>{{party.description}}</p>
    <party-remove party="party"></party-remove>
    <party-creator party="party"></party-creator>
  </li>
</ul>

<dir-pagination-controls on-page-change="partiesList.pageChanged(newPageNumber)"></dir-pagination-controls>
