.navbar {
  background-color: #ffffff;
  border-bottom:#eee 1px solid;
  color : @color3;
  font-family: 'Muli', sans-serif;
  a{
    color : @color3;
    text-decoration : none !important;
  }
}


.navbar-text {
  margin-right: 0;
}

#login-dropdown-list.accounts-dialog {
  right: 14px;
  left: auto;
}

#login-buttons .login-button,
.accounts-dialog .login-button{
  background: transparent;
  color : @color2;
  border-color : @color3;
  &:hover{
    background: @color2;
    color : white;
  }
}