.angular-google-map-container {
  height: 400px;
}

.navbar-text {
  margin-right: 0;
}

#login-dropdown-list.accounts-dialog {
  right: 14px;
  left: auto;
}

.search-form {
  margin-bottom: 1em;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 300px;
  height: 65px;
  text-align: center;
  padding: 50px;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}

.uploaded-image {
  max-height: 100px;
  max-width: 200px;
}
