
.navbar-text {
    margin-right: 0;
}

#login-dropdown-list.accounts-dialog {
    right: 14px;
    left: auto;
}

.search-form {
    margin-bottom: 1em;
}

.ma-parties-list{
    .angular-google-map{
        box-sizing: border-box;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        box-sizing: border-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .angular-google-map-container{
        box-sizing: border-box;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .rsvps-sum{
        float:left;
        width:50px;
        text-align: center;
        .rsvps-amount{
            font-size:24px;
        }
        .rsvps-title{
            font-size:13px;
            color:#aaa;
        }
    }

    .ma-party{
        .ma-name{
            a{
                text-decoration: none;
                color : #333;
            }
        }
        .ma-description{

        }
    }
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 230px;
    height: 120px;
    text-align: center;
    padding-top: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}

.uploaded-image {
    max-height: 100px;
    max-width: 200px;
}

.ng-crop-container {
    height: 350px;
}

.images-container-title {
    padding-bottom: 30px;
}

.party-image-container {
    position: relative;
    margin-right: 10px;
    max-height: 200px;
    max-width: 200px;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #f8f8f8;
}

.party-image {
    background-size: cover;
    width: 100%;
    height: 200px;
}