.angular-google-map-container {
    height: 400px;
    width: 400px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 230px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin-left: 10px;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}

.uploaded-image {
    max-height: 100px;
    max-width: 200px;
}

.ng-crop-container {
    width: 100%;
    height: 150px;
}

.add-photo-dialog {
    width: 60%;

    h3 {
        text-align: center;
    }
}

.main-image {
  text-align: center;
  background-color: #f8f8f8;
}
